/* css/theme-70s.css */
:root {
  /* Base theme colors */
  --coral: #f3503f;
  --teal: #006674;
  --stone: #a5aa9b;
  --sage: #79977a;
  --golden: #cba437;
  --cream: #f3dab3;
  --maroon: #78272d;
  --tan: #d69262;
  --charcoal: #363034;
  --brown: #5e3b23;
  --font-vintage: 'Courier New', monospace;

  /* Semantic color mappings */
  --color-bg-body: var(--cream);
  --color-text-body: var(--charcoal);

  --color-bg-header: var(--maroon);
  --color-text-header: var(--cream);

  --color-bg-nav: var(--coral);
  --color-text-nav: var(--charcoal);
  --color-text-nav-active: var(--cream);
  --nav-border-radius: 10px;

  --color-bg-footer: var(--maroon);
  --color-text-footer: var(--charcoal);
}

@font-face {
  font-family: "disco";
  src: url("../fonts/disco.ttf") format("truetype");
  /* optional: font-weight/font-style descriptors */
  font-weight: normal;
  font-style: normal;
}

main {
  background-image: url('../images/70s-pattern.png'); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  font-family: "disco", sans-serif;

}

.intro {
  font-size: 1.5rem;
}

.intro h1{
  font-size: 5rem;
}

.graph {
  margin-top: 10rem;
}

.graph.seven {
  display: flex;
  align-items: center;
  gap: 1rem;  
}

.graph.seven img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.graph.seven p {
  font-size: 5rem;
  margin: 0;
}

.seven {
  display: inline-block;           
  background-color: rgba(151, 20, 20, 0.8); 
  padding: 1em;                     
  border-radius: 0.5em;             
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  color: #000;     
  line-height: 1.4;    
}

