/* css/theme-80s.css */
:root {
  /* Base theme colors */
  --navy: #241965;
  --purple: #653993;
  --magenta: #9F4094;
  --pink: #B73D6E;
  --gold: #F19406;
  --font-80s: 'Verdana', sans-serif;

  /* Semantic color mappings */
  --color-bg-body: var(--gold);
  --color-text-body: var(--navy);

  --color-bg-header: var(--purple);
  --color-text-header: var(--gold);

  --color-bg-nav: var(--magenta);
  --color-text-nav: var(--gold);
  --color-text-nav-active: var(--gold);
  --nav-border-radius: 0.5rem;

  --color-bg-footer: var(--navy);
  --color-text-footer: var(--gold);
}

@font-face {
  font-family: "80s";
  src: url("../fonts/80s.ttf") format("truetype");
  /* optional: font-weight/font-style descriptors */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf") format("truetype");
  /* optional: font-weight/font-style descriptors */
  font-weight: normal;
  font-style: normal;
}

main {
  background-image: url('../images/80s-pattern.png'); 
  background-repeat: repeat; 
  background-position: center;
  font-family: "80s", sans-serif;
}

main h2{
  font-family: "icons", sans-serif;
}

.intro {
  font-size: 1.5rem;
}

.intro h1{
  font-size: 5rem;
}

.eight {
  display: inline-block;           
  background-color: rgba(94, 34, 199, 0.8); 
  padding: 1em;                     
  border-radius: 0.5em;             
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  color: #000;     
  line-height: 1.4;    
}