/* css/theme-90s.css */
:root {
  /* Base theme colors */
  --deep-purple: #7262d4;
  --mint: #35bd8b;
  --amber: #fca80e;
  --fuchsia: #c8288f;
  --font-90s: 'Comic Sans MS', cursive, sans-serif;

  /* Semantic color mappings */
  --color-bg-body: var(--deep-purple);
  --color-text-body: var(--amber);

  --color-bg-header: var(--fuchsia);
  --color-text-header: var(--amber);

  --color-bg-nav: var(--mint);
  --color-text-nav: var(--deep-purple);
  --color-bg-nav-active: var(--amber);
  --color-text-nav-active: var(--deep-purple);
  --nav-border-radius: 8px;

  --color-bg-footer: var(--amber);
  --color-text-footer: var(--deep-purple);
}

@font-face {
  font-family: "90s";
  src: url("../fonts/90s.ttf") format("truetype");
  /* optional: font-weight/font-style descriptors */
  font-weight: normal;
  font-style: normal;
}

main {
  background-image: url('../images/90s-pattern.jpg'); 
  background-repeat: repeat; 
  background-position: center;
  font-family: "90s", sans-serif;

}

.intro {
  font-size: 1.5rem;
}

.intro h1{
  font-size: 5rem;
}

.nine {
  display: inline-block;           
  background-color: rgba(87, 190, 170, 0.8); 
  padding: 1em;                     
  border-radius: 0.5em;             
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  color: #000;     
  line-height: 1.4;    
}